.card{
    border-radius: 12px;
}
body{
    background: #f4f6fb;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.navbar{
    border-radius: 0;
}
.text-price-yellow {
    color: #ffc107 !important; /* C'est le code hexadécimal exact de votre jaune ! */
}